[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
bind-address=0.0.0.0
ssl_ca = /etc/mysql/pem/ca.pem
ssl_cert = /etc/mysql/pem/server-cert.pem
ssl_key = /etc/mysql/pem/server-key.pem
#tls_version=TLSv1.2,TLSv1.3
#require_secure_transport = ON

[client]
ssl_capath = /etc/mysql/pem/ca.pem
ssl_cert = /etc/mysql/pem/client-cert.pem
ssl_key = /etc/mysql/pem/client-key.pem
#protocol=TCP